<ngx-loading [show]="getStatesLoading || loading"></ngx-loading>
<p-toast position="top-right"></p-toast>

<div class="db-wrapper">
  <app-header></app-header>
  <!-- body contents -->
  <section id="pageContent">
    <div class="pageContent-container" *ngIf="listViewSection">
      <div class="PageTitle flex align-items-center justify-content-between">
        <span class="pageName"> States</span>
      </div>
      <div class="PageContent">
        <p-table #statedt [sortField]="defaultSortField" [sortOrder]="defaultSortOrder" [value]="filteredStates"
          [paginator]="true" [rowHover]="true" [(first)]="paginatorOptions.first" [rows]="paginatorOptions.rows"
          [loading]="loading" [showCurrentPageReport]="true"
          [tableStyle]="{ 'min-width': '50rem', 'font-size': '15px' }"
          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} States"
          [rowsPerPageOptions]="paginatorOptions.rowsPerPageOptions" [globalFilterFields]="['name']"
          (onPage)="onPageChange($event)">
          <ng-template pTemplate="caption">
            <div class="searchOptions m-1">
              <div class="column">
                <p-dropdown [options]="options" [(ngModel)]="selectedOption" (onChange)="changeDropdown()"
                  optionLabel="name"></p-dropdown>
              </div>
              <div class="column">
                <span class="p-input-icon-left">
                  <i class="pi pi-search"></i>
                  <input pInputText name="search" [ngModel]="searchValue" (ngModelChange)="search($event)" type="text"
                    placeholder="Search" />
                </span>
              </div>
              <button style="margin-left: 10px;" pButton class="p-button-outlined" icon="pi pi-refresh"
                (click)="clear(statedt)" pTooltip="Reset" tooltipPosition="left">
              </button>
            </div>
          </ng-template>

          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="name"> State Name <p-sortIcon field="name"></p-sortIcon></th>
              <th pSortableColumn="market_area_name">Market Area <p-sortIcon field="market_area_name"></p-sortIcon></th>
              <th pSortableColumn="country_name">Country <p-sortIcon field="country_name"></p-sortIcon></th>
              <th pSortableColumn="description">Description <p-sortIcon field="description"></p-sortIcon></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-state>
            <tr>
              <td>{{ state?.name | uppercase }}</td>
              <td>{{state?.market_area_name | uppercase}}</td>
              <td>{{ state?.country_name}}</td>
              <td>
                <span *ngIf="state?.description.length > 50" [pTooltip]="state?.description" tooltipPosition="top">
                  {{ state?.description | slice: 0:50 }}...
                </span>
                <span *ngIf="state?.description.length <= 50">{{ state?.description }}</span>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage" let-state>
            <tr>
              <td colspan="7" style="text-align:center;padding: 1.2rem 1rem;">
                No States Data Available
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
    <div *ngIf="addStateSection" class="pageContent-container">
      <div class="PageTitle flex align-items-center justify-content-between">
        <span class="pageName" *ngIf="!stateObj?.id">Add State</span>
        <span class="pageName" *ngIf="stateObj?.id">Edit State</span>
      </div>
      <div class="PageContent flex flex-column gap-4">
        <form class="useraddform" novalidate #roleForm="ngForm">
          <div class=" flex flex-column gap-1">
            <div class="grid">
              <div class="col-12 md:col-6 lg:col-4 flex flex-column gap-1">
                <label>State Name <span class="error">*</span></label>
                <input type="text" class="title-inp" name="name" #name="ngModel" [(ngModel)]="stateObj.name"
                  [style]="{'height':'30px'}" required [ngClass]="{ 'is-invalid': roleForm.submitted && name.errors }"
                  placeholder="" pInputText maxlength="50" />
                <div *ngIf="roleForm.submitted && name.errors" class="invalid-feedback">
                  <div *ngIf="name.errors['required']">Please enter State Name.</div>
                </div>
              </div>
            </div>
            <div class="grid">
              <div class="col-12 md:col-6 lg:col-4 flex flex-column gap-1">
                <label>Country<span class="error">*</span></label>
                <p-dropdown [options]="countriesList" name="selectedCountry" #selectedCountry="ngModel"
                  [required]="true" [(ngModel)]="stateObj.selectedCountry" [style]="{'height':'30px', 'width':'100%'}"
                  [ngClass]="{ 'is-invalid': roleForm.submitted && selectedCountry.errors }" optionLabel="name"
                  placeholder="Select the Country" (onChange)="onCountryChange(stateObj.selectedCountry)">
                </p-dropdown>

                <div *ngIf="roleForm.submitted && selectedCountry.errors" class="invalid-feedback">
                  <div *ngIf="selectedCountry.errors['required']">Please select Country.</div>
                </div>
              </div>
              <div class="col-12 md:col-6 lg:col-4 flex flex-column gap-1">
                <label>Market Area<span class="error">*</span></label>
                <p-dropdown [options]="mktAreas" name="market_area_id" #market_area_id="ngModel" [required]="true"
                  [(ngModel)]="stateObj.selectedStateOption" [style]="{'height':'30px', 'width':'100%'}"
                  [ngClass]="{ 'is-invalid': roleForm.submitted && market_area_id.errors }" optionLabel="name"
                  placeholder="Select the Market Area" [disabled]="!stateObj.selectedCountry">
                </p-dropdown>

                <div *ngIf="roleForm.submitted && market_area_id.errors" class="invalid-feedback">
                  <div *ngIf="market_area_id.errors['required']">Please select Market Area.</div>
                </div>
              </div>
            </div>
            <div class="grid">
              <div class="col-12 md:col-8 lg:col-8 flex flex-column gap-1">
                <label>Description <span class="error">*</span></label>
                <textarea type="text" class="title-inp" name="description" #description="ngModel"
                  [(ngModel)]="stateObj.description" [style]="{'height':'140px'}" required
                  [ngClass]="{ 'is-invalid': roleForm.submitted && description.errors }" rows="5" maxlength="250"
                  pInputTextarea>
                </textarea>
                <div *ngIf="roleForm.submitted && description.errors" class="invalid-feedback">
                  <div *ngIf="description.errors['required']"> Please enter Description.</div>
                </div>
              </div>
            </div>
          </div>
          <div class="grid">
            <div class="col-12 md:col-6 lg:col-4 flex flex-column gap-1">
              <label>Status</label>
              <div class="rowContainer">
                <p-inputSwitch name="is_active" #activeStatus="ngModel" [(ngModel)]="stateObj.is_active"
                  (onChange)="activeStatusChange(stateObj?.is_active)"></p-inputSwitch>
                <span
                  [ngClass]="{'status-text': true, 'active': stateObj?.is_active, 'inactive': !stateObj?.is_active}">
                  {{ stateObj?.is_active ? 'Active' : 'Inactive' }}
                </span>
              </div>
            </div>
          </div>

          <div class="ButtonWrap flex gap-2">
            <p-button type="submit" label="Add" *ngIf="!stateObj?.id"
              (click)="create_or_update_state(roleForm,'add',stateObj)"></p-button>
            <p-button type="submit" label="Update" *ngIf="stateObj?.id"
              (click)="create_or_update_state(roleForm,'update',stateObj)"></p-button>
            <p-button label="Reset" *ngIf="!stateObj?.id" (click)="resetForm(roleForm)" styleClass="p-button-secondary">
            </p-button>
            <p-button label="Cancel" (click)="cancelForm()"
              styleClass="p-button-secondary p-button-outlined">
            </p-button>

          </div>
        </form>
      </div>
    </div>
    <section id="footer">© Greenko Group. All rights reserved</section>
  </section>
</div>
<p-confirmDialog acceptIcon="" rejectIcon="" [icon]="''" styleClass="gk-confirm-dialog" defaultFocus="none"
  [breakpoints]="{'578px': '95vw'}" [style]="{width: '35vw'}" [baseZIndex]="10000"
  rejectButtonStyleClass="p-button-text"></p-confirmDialog>